<p>Hi, I am <b>{{ site.author.name }}</b>.</p>

<p>Welcome to my website!</p>

<p>I currently work as an ASIC Verificiation Engineering at NVIDIA.</p>

<p>The purpose of this website is to serve as a hub for my professional and personal endeavors. You can checkout some of my past projects and whatever I'm currently working on down in the Projects section.</p>

<p>The bulk of my experience is with Python, C/C++, Verilog/SystemVerilog, and UVM, but I've also dabbled in Java, HTML/CSS, assembly, and Matlab.</p>

<h6><a href="/assets/resume.pdf" download>Download (an outdated version of) my resume here!</a></h6>
