<p>Hi, I'm <b>{{ site.author.name }}</b>.</p>

<p>I currently work as an ASIC Verificiation Engineer at NVIDIA. <b>This website is very outdated.</b></p>

<p>The purpose of this website is to serve as a hub for my professional and personal endeavors. You can checkout some of my past projects and whatever I'm currently working on down in the Projects section.</p>

<p>The bulk of my experience is with Verilog/SystemVerilog (along with UVM), Python, and C++, but I've also dabbled in Java, HTML/CSS, assembly, and Matlab.</p>
