<div class="col mt-4">
  <div class="timeline-body">
    {% for item in site.data.timeline %}
      <div class="timeline-item">
        <div class="content">

          <h2>{{ item.title }}</h2>

          <h5 class="date">{{ item.from }} — {{ item.to }}</h5>

          {% if item.school == true %}
            {% if item.major %}
                <h6 class="major">Major: {{item.major}}</h6>
            {% endif %}
            {% if item.GPA %}
                <h6 class="major">GPA: {{item.GPA}}</h6>
            {% endif %}
            {% if item.gradDate %}
                <h6 class="major">Intended Graduation: {{item.gradDate}}</h6>
            {% endif %}
            {% if item.location %}
                <h6 class="major">Location: {{item.location}}</h6>
            {% endif %}
          {% endif %}

          {% if item.school == false %}
            {% if item.location %}
                <h6 class="major">Location: {{item.location}}</h6>
            {% endif %}
          {% endif %}



          {% if item.description %}
            <p>{{ item.description }}</p>
          {% endif %}

        </div>
      </div>
    {% endfor %}
  </div>
</div>
